@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-link {
  @apply text-black no-underline text-lg hover:text-gray-300;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;

}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}